<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/materialize.ejs'); %>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <title></title>
</head>

<body>
    <main>

        <header class=" deep-orange lighten-3 white-text ">
            <h1 class="center-align headerTitle"><%=card.title%></h1>
        </header>
        <nav class="nav-wrapper orange lighten-4">
            <div class="container">

                <a href="#" class="sidenav-trigger" data-target="mobile-links">
                    <i class="material-icons">menu</i>
                </a>

                <ul class="right hide-on-med-and-down">
                    <li>
                        <a class="btn blue-grey lighten-1" href="/cards">Your Cards</a>
                    </li>
                    <li>
                        <a class="btn blue-grey lighten-1" href="/decks">Your Decks</a>
                    </li>
                    <li>
                        <a class="btn blue-grey lighten-1" href="/cards/new">Add New Card</a>
                    </li>
                    <li>
                        <form action="/sessions?_method=DELETE" method="POST">
                            <input class="btn blue-grey lighten-1" type="submit" value="Log Out">
                        </form>

                    </li>
                </ul>

            </div>

        </nav>
        <ul class="sidenav" id="mobile-links">
            <li>
                <a class="btn blue-grey lighten-1" href="/cards">Your Cards</a>
            </li>
            <li>
                <a class="btn blue-grey lighten-1" href="/decks">Your Decks</a>
            </li>
            <li>
                <a class="btn blue-grey lighten-1" href="/cards/new">Add New Card</a>
            </li>
            <li>
                <form action="/sessions?_method=DELETE" method="POST">
                    <input class="btn blue-grey lighten-1" type="submit" value="Log Out">
                </form>

            </li>
        </ul>

        <div class="container">


            <div class="row">

                <div class="col s12 l6">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">
                                <%=card.title%>
                            </span>
                            <div class="card-image">

                                <img src="<%=card.coverPhoto%>" alt="<%=card.title%>">

                                <p class="halfway-fab btn-floating"> <i class="material-icons">
                                        <% if (card.type === "nature") { %>
                                        park
                                        <% } else { %>
                                        apartment
                                        <%}%>
                                        </i></p>
                                </div>
                                <h5><%=card.type%></h3>
                                        <br>
                                        <h5><%=card.time%></h3>
                                            <br>
                                            <p><%=card.flavorText%></p>
                            </div>
                            <div class="card-action">
                                <a href="/decks">Add to Deck</a>
                                <a href="/decks">Add card to Favorites</a>
                                <a class="" href="/cards/<%=card._id%>/edit">Edit this card</a>
                                <form action="/cards/<%=card._id%>?_method=DELETE" method="POST">
                                    <input type="submit" value="Delete this card" />
                                </form>
                            </div>
                        </div>
                    </div>




    </main>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
        })
    </script>
</body>

</html>