<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/materialize.ejs'); %>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <title></title>
</head>

<body>
    <main>

        <header class=" deep-orange lighten-3 white-text ">
            <h1 class="center-align headerTitle"><%=card.title%></h1>
        </header>
        <nav class="nav-wrapper orange lighten-4">
            <div class="container">

                <a href="#" class="sidenav-trigger" data-target="mobile-links">
                    <i class="material-icons">menu</i>
                </a>

                <ul class="right hide-on-med-and-down">
                    <li>
                        <a class="btn blue-grey lighten-1" href="/cards">Your Cards</a>
                    </li>
                    <li>
                        <a class="btn blue-grey lighten-1" href="/decks">Your Decks</a>
                    </li>
                    <li>
                        <a class="btn blue-grey lighten-1" href="/cards/new">Add New Card</a>
                    </li>
                    <li>
                        <form action="/sessions?_method=DELETE" method="POST">
                            <input class="btn blue-grey lighten-1" type="submit" value="Log Out">
                        </form>

                    </li>
                </ul>

            </div>

        </nav>
        <ul class="sidenav" id="mobile-links">
            <li>
                <a class="btn blue-grey lighten-1" href="/cards">Your Cards</a>
            </li>
            <li>
                <a class="btn blue-grey lighten-1" href="/decks">Your Decks</a>
            </li>
            <li>
                <a class="btn blue-grey lighten-1" href="/cards/new">Add New Card</a>
            </li>
            <li>
                <form action="/sessions?_method=DELETE" method="POST">
                    <input class="btn blue-grey lighten-1" type="submit" value="Log Out">
                </form>

            </li>
        </ul>

        <div class="container">


            <div class="row">

                <div class="col s12 l6">
                    <div class="card <%=card.time%>Card"">
                        <div class="card-texture">
                            <div class="card-image card-image-<%=card.time%>">

                                <img class="" src="<%=card.coverPhoto%>" alt="<%=card.title%>">

                                <p class="halfway-fab btn-floating"> <i class=" large material-icons <%=card.type%>Icon">
                                        <% if (card.type === "nature") { %>
                                        park
                                        <% } else { %>
                                        apartment
                                        <%}%>
                                    </i></p>
                            </div>
                            <span class="card-title">
                                <h5 class="center-align"><%=card.title%></h5>
                            </span>
                            <div class="card-content">
                                
                               
                                <h6>Stats</h6>
                                <ul>
                                    <li>Adventure: <%=card.stats.adventure%>/10</li>

                                    <li>Community: <%=card.stats.community%>/10</li>

                                    <li>Challenge: <%=card.stats.challenge%>/10</li>
                                </ul>
                                <hr>
                                            <br>
                                                <br>
                                                <div >
                                                <p>"<%=card.flavorText%>"</p>
                                            </div>
                                </div>
                                <div class="card-action">
                                    <a class="btn purple" href="/decks">Deck <i class="material-icons right">add</i></a>
                                    <a class="btn pink"href="/decks">Favorites <i class="material-icons right">add</i></a>
                                    <a class="btn green" href="/cards/<%=card._id%>/edit">Edit <i class="material-icons right">edit</i></a>
                                    <form action="/cards/<%=card._id%>?_method=DELETE" method="POST">
                                        <button class="btn red right" type="submit" value="Delete this card"> Delete
                                            <i class="material-icons ">delete</i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>




    </main>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
        })
    </script>
</body>

</html>